<header>
    <nav class="nav">
        <div class="t"><span class="node">Node</span>
            <span class="wise">Wise</span>
        </div>
        <div class="nav-links">
            <a href="/signup" class="register">Sign Up</a>
            <a href="/login" class="register">Login </a>
            <a href="/logout" class="register">Logout</a>
        </div>
    </nav>
</header>