<header>
     <nav class="nav">
    
     
        <div class="t"><span class="node">Note</span>
            <span class="wise">Wise</span>
        </div>

        <div class="nav-links">
            <a href="/signup" class="register">Sign Up</a>
            <a href="/login" class="register">Login </a>
            <a href="/logout" class="register">Logout</a>
        </div>
<div class="dropdown d-md-none">
  <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false" style="background-color:  #007BFF;;">
    USER
  </button>
  <ul class="dropdown-menu">
    <li><a class="dropdown-item"  href="/signup">Sign Up</a></li>
    <li><a class="dropdown-item" href="/login">Login</a></li>
    <li><a class="dropdown-item" href="/logout">Logout</a></li>
  </ul>
</div>
</nav>
</header>