<% layout("/layouts/boilerplate.ejs") -%>
    <main>
        <div class="usermsg"> <span>Hii How are you ?.. </span> </div>
        <div class="aimsg"><span>I am good what can i help  you..</span></div>
        <div class="text">
            <input type="text" placeholder="Upload Your Notes....." class="textt">
        </div>

        <div class="button">
            <button class="option">Summarize</button>
            <button class="option"> Generate Quiz</button>
            <button class="option">Ask a Question</button>
        </div>
        <div class="button1">
            <button class="option1">Summary</button>
            <button class="option1"> Quiz</button>
            <button class="option1">Question</button>
        </div>
    </main>