<% layout("/layouts/boilerplate.ejs") -%>
    <main>
        <div class="usermsg"> dfgfdg </div>
        <div class="aimsg">gdfg</div>
        <div class="text">
            <input type="text" placeholder="Upload Your Notes....." class="textt">
        </div>

        <div class="button">
            <button>Summary</button>
            <button>Quiz</button>
            <button>Question</button>
        </div>

    </main>